#loginForm {
    position: absolute;
    left: 60%;
}

#loginForm input {
    width: 300px;
}

.body-content {
    height: 300px;
}

.page_body_content {
    height: 350px;
}

.modal-footer {
    margin-top: 280px;
    display: block;
}