<!-- Modal -->
<div class="modal fade" id="subjectEditModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Subject</h4>
            </div>
            <div class="modal-body">
                <label for="subject_title">Title: </label>
                <input id="sendSubjectEditTitle" name="subject_title" type="text" /><br />
                <label for="subject_body">Body: </label>
                <textarea id="sendSubjectEditBody" name="subject_body"></textarea>
            </div>
            <div class="modal-footer">
                <button id="sendEditSubject" class="btn btn-primary ladda-button" data-style="expand-left"><span class="ladda-label">Edit</span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>