@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {

    <style type="text/css" rel="stylesheet">
        .content-sidebar-wrap {
            margin-top: 100px;
        }
    </style>

}

@section scripts {
    <script src="~/Scripts/About/Service.js"></script>
    <script src="~/Scripts/About/ViewModel.js"></script>
    <script src="~/Scripts/About/Controller.js"></script>

    <script src="~/Scripts/script.js"></script>
}
<div class="content-sidebar-wrap">
    <article class="post-15 page type-page status-publish entry" itemscope="" itemtype="http://schema.org/CreativeWork">
        <header class="entry-header"></header><div class="entry-content" itemprop="text">
            <div id="information">
                <div class="two-thirds first">
                    <h2>Информация</h2>
                    <span id="blogInformation"></span>
                </div>
                <div class="one-third">
                    <img src="http://www.thefullhelping.com/wp-content/uploads/2016/10/cropped-TheFullHelping_FAVICON.png">
                </div>
            </div>
            <hr>
            <div id="philipa">
                <div class="one-half first">
                    <img src="http://www.thefullhelping.com/wp-content/uploads/2009/03/Gena-Hamshaw-by-James-Ransom-Blog.jpg" alt="Gena Hamshaw by James Ransom Blog" width="600" height="750">
                </div>
                <div class="one-half">
                    <h2>За Филипа</h2>
                    <p><span id="myInformation"></span></p>
                </div>
            </div>
        </div>
    </article>
</div>

