@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {

    <style type="text/css" rel="stylesheet">
        .content-sidebar-wrap {
            margin-top: 100px;
        }
    </style>

}

@section scripts {
    <script src="~/Scripts/About/ViewModel.js"></script>
    <script src="~/Scripts/About/Controller.js"></script>

    <script src="~/Scripts/script.js"></script>
}
<div class="content-sidebar-wrap">
    <article class="post-15 page type-page status-publish entry" itemscope="" itemtype="http://schema.org/CreativeWork">
        <header class="entry-header"></header><div class="entry-content" itemprop="text">
            <div id="information">
                <div class="two-thirds first">
                    <h2><span id="blogInformationTitle"></span></h2>
                    <span id="blogInformation"></span>
                </div>
                <div class="one-third">
                    <img src="http://www.thefullhelping.com/wp-content/uploads/2016/10/cropped-TheFullHelping_FAVICON.png">
                </div>
            </div>
            <hr>
            <div id="phillipa">
                <div class="one-half first">
                    <img id="myInformationPicture" src="" width="500">
                </div>
                <div class="one-half">
                    <h2><span id="myInformationTitle"></span></h2>
                    <p><span id="myInformation"></span></p>
                </div>
            </div>
        </div>
    </article>
</div>

