
<!DOCTYPE html>
<html>
    <head>
        <title>Updates</title>
        <script type="text/javascript" src="~/Scripts/Updates/script.js"></script>

        <style>
            .q_id {
                font-weight: bold;
                color: #F00;
                margin-right: 5px;
            }
            .q_header {
                font-weight: bold;
                margin-left: 5px;
            }
        </style>
    </head>
    <body>
        <br />
        <input id="setValue" type="number" /><input id="set" type="button" value="Get Data" /><br />
        <input id="selectedValue" type="text" readonly="readonly" />
        <br />

        <h4>Questions:</h4>
        <ul id="questions_list">
        </ul>
    </body>
</html>