@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <style type="text/css">
        .required {
            color: red;
        }

        p {
            text-align: center;
        }

        #registerForm {
            width: 300px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

            #registerForm input {
                padding: 2px;
                display: block;
                height: 30px;
            }

        input[type="submit"] {
            width: 300px;
        }

        #currentStatus {
            color: red;
        }
    </style>
}

@section scripts {
    <script type="text/javascript">
        var currentStatus = '@this.ViewBag.Status';
    </script>

    <script src="~/Scripts/Account/ViewModel.js"></script>
    <script src="~/Scripts/Account/Controller.js"></script>

    <script src="~/Scripts/script.js"></script>
}

<div class="content-sidebar-wrap">
    <p id="currentStatus"></p>
    <p>Моля въведете имейл и парола за  изпълнението на успешна регистрация.</p>
    <form id="registerForm" method="post" action="/Account/UserRegister">
        <label for="registerUsername">Имейл: <span class="required">*</span></label>
        <input required="required" name="registerUsername" type="text" /><br />
        <label for="registerPassword">Парола: <span class="required">*</span></label>
        <input required="required" type="password" name="registerPassword" /><br />
        <label for="passwordConfirm">Повторете паролата: <span class="required">*</span></label>
        <input required="required" type="password" name="passwordConfirm" /><br />
        <input type="submit" value="Регистрирай" />
    </form>
</div>
