@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <style type="text/css">
        /*#main {
            padding: 30px;
            background-color: #A7C980;
            background: red;
            background: -webkit-linear-gradient(right, #A7C980, white);
            background: -o-linear-gradient(right, #A7C980, white);
            background: -moz-linear-gradient(right, #A7C980, white);
            background: linear-gradient(to right, #A7C980, white);
        }*/

        .more-link {
            background-color: #B3DE81;
        }

        .entry-meta span,
        .entry-meta time,
        .entry-meta a {
            color: #265C00 !important;
        }

        .entry-content {
            overflow: hidden;
            max-height: 390px;
        }

        .more-link {
            margin-top: 25px!important;
        }
    </style>
}

@section scripts {
    <script src="~/Scripts/Home/ViewModel.js"></script>
    <script src="~/Scripts/Home/Controller.js"></script>

    <script src="~/Scripts/script.js"></script>
}
<div class="home-top">
    <section id="soliloquy-2" class="widget-1 widget-first widget-last widget-odd widget soliloquy">
        <div class="widget-1 widget-first widget-last widget-odd widget-wrap">
            <div class="soliloquy-outer-container soliloquy-carousel" data-soliloquy-loaded="1">
                <div aria-live="polite" id="soliloquy-container-32394" class="soliloquy-container soliloquy-transition-horizontal soliloquy-slide-horizontal soliloquy-arrows-active  soliloquy-theme-base soliloquy-fc-slider" style="max-width: 1170px; max-height: 1477px; margin: 0px auto 100px; height: auto; opacity: 1; background-image: none;">
                    <div class="soliloquy-wrapper" style="max-width: 2720px; margin: 0px auto;">
                        <div class="soliloquy-viewport" style="width: 100%; position: relative; overflow: hidden; height: 370px;">
                            <ul id="solidQuo" class="soliloquy-slider soliloquy-slides soliloquy-wrap soliloquy-clear" style="width: 915%; position: relative;">
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="content-sidebar-wrap">
    <div id="aside" class="sidebar sidebar-primary widget-area" role="complementary" aria-label="Primary Sidebar" itemscope="" itemtype="http://schema.org/WPSideBar" id="genesis-sidebar-primary">
        <h2 class="genesis-sidebar-title screen-reader-text">Primary Sidebar</h2>
        <section id="user-profile-2" class="widget-1 widget-first widget-odd widget user-profile">
            <div class="widget-1 widget-first widget-odd widget-wrap">
                <h3 id="myInformationTitle" class="widgettitle widget-title"></h3>
                <a href="~/About#phillipa">
                    <p>
                        <span class="alignright">
                            <img id="myInformationPicture" alt="" src="" class="avatar avatar-125 photo" height="125" width="125">
                        </span>
                        <span id="myInformation"></span>
                    </p>
                </a>
            </div>
        </section>
    </div>
    <div class="content" id="main">
        <div class="widget-area home-bottom">
            <section class="widget-1 widget-first widget-odd widget featured-content featuredpost">
                <div>
                    <h3 class="widgettitle">Скорошни постове</h3>
                    <div id="recentPosts">
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

