@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <style type="text/css">
        /*#main {
            padding: 30px;
            background-color: #A7C980;
            background: red;
            background: -webkit-linear-gradient(right, #A7C980, white);
            background: -o-linear-gradient(right, #A7C980, white);
            background: -moz-linear-gradient(right, #A7C980, white);
            background: linear-gradient(to right, #A7C980, white);
        }*/

        .more-link {
            background-color: #B3DE81;
        }

        .entry-meta span,
        .entry-meta time,
        .entry-meta a {
            color: #265C00 !important;
        }
    </style>
}

@section scripts {
    <script src="~/Scripts/Home/ViewModel.js"></script>
    <script src="~/Scripts/Home/Controller.js"></script>

    <script src="~/Scripts/script.js"></script>
}
<div class="home-top">
    <section id="soliloquy-2" class="widget-1 widget-first widget-last widget-odd widget soliloquy">
        <div class="widget-1 widget-first widget-last widget-odd widget-wrap">
            <div class="soliloquy-outer-container soliloquy-carousel" data-soliloquy-loaded="1">
                <div aria-live="polite" id="soliloquy-container-32394" class="soliloquy-container soliloquy-transition-horizontal soliloquy-slide-horizontal soliloquy-arrows-active  soliloquy-theme-base soliloquy-fc-slider" style="max-width: 1170px; max-height: 1477px; margin: 0px auto 100px; height: auto; opacity: 1; background-image: none;">
                    <div class="soliloquy-wrapper" style="max-width: 2720px; margin: 0px auto;">
                        <div class="soliloquy-viewport" style="width: 100%; position: relative; overflow: hidden; height: 563px;">
                            <ul id="soliloquy-32394" class="soliloquy-slider soliloquy-slides soliloquy-wrap soliloquy-clear" style="width: 915%; position: relative;">
                                <li aria-hidden="true" class="soliloquy-item soliloquy-item-7 soliloquy-image-slide soliloquy-post-32696 soliloquy-post soliloquy-type-post soliloquy-status-publish soliloquy-format-standard soliloquy-has-post-thumbnail soliloquy-category-breakfast soliloquy-category-featured soliloquy-category-gluten-free soliloquy-category-meals soliloquy-category-recipes soliloquy-category-tree-nut-free soliloquy-tag-breakfast soliloquy-tag-brunch soliloquy-tag-brussels-sprouts soliloquy-tag-cornmeal soliloquy-tag-grits soliloquy-tag-sausage soliloquy-tag-tempeh soliloquy-entry" draggable="false" style="list-style: none; float: left; position: relative; width: 383.333px; margin-right: 10px;">
                                    <a href="#" class="soliloquy-link" title="Homestyle Vegan Grits with Tempeh Sausage &amp; Brussels Sprouts">
                                        <img id="soliloquy-image-32696" class="soliloquy-image soliloquy-image-7" src="http://www.thefullhelping.com/wp-content/uploads/2016/05/Egyptian-red-lentil-stew-5-1-600x882.jpg" alt="Homestyle Vegan Grits with Tempeh Sausage &amp; Brussels Sprouts">
                                    </a>
                                    <div class="soliloquy-caption soliloquy-caption-bottom">
                                        <div class="soliloquy-caption-inside">
                                            <div class="soliloquy-fc-caption">
                                                <h2 class="soliloquy-fc-title">
                                                    <a class="soliloquy-fc-title-link" href="http://www.thefullhelping.com/homestyle-vegan-grits-tempeh-sausage-brussels-sprouts/" title="Homestyle Vegan Grits with Tempeh Sausage &amp; Brussels Sprouts">Homestyle Vegan Grits with Tempeh Sausage &amp; Brussels Sprouts</a>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li aria-hidden="true" class="soliloquy-item soliloquy-item-7 soliloquy-image-slide soliloquy-post-32696 soliloquy-post soliloquy-type-post soliloquy-status-publish soliloquy-format-standard soliloquy-has-post-thumbnail soliloquy-category-breakfast soliloquy-category-featured soliloquy-category-gluten-free soliloquy-category-meals soliloquy-category-recipes soliloquy-category-tree-nut-free soliloquy-tag-breakfast soliloquy-tag-brunch soliloquy-tag-brussels-sprouts soliloquy-tag-cornmeal soliloquy-tag-grits soliloquy-tag-sausage soliloquy-tag-tempeh soliloquy-entry" draggable="false" style="list-style: none; float: left; position: relative; width: 383.333px; margin-right: 10px;">
                                    <a href="#" class="soliloquy-link" title="Homestyle Vegan Grits with Tempeh Sausage &amp; Brussels Sprouts">
                                        <img id="soliloquy-image-32696" class="soliloquy-image soliloquy-image-7" src="http://www.thefullhelping.com/wp-content/uploads/2016/11/Homestyle-grits-tempeh-sausage-6-600x866.jpg" alt="Homestyle Vegan Grits with Tempeh Sausage &amp; Brussels Sprouts">
                                    </a>
                                    <div class="soliloquy-caption soliloquy-caption-bottom">
                                        <div class="soliloquy-caption-inside">
                                            <div class="soliloquy-fc-caption">
                                                <h2 class="soliloquy-fc-title">
                                                    <a class="soliloquy-fc-title-link" href="http://www.thefullhelping.com/homestyle-vegan-grits-tempeh-sausage-brussels-sprouts/" title="Homestyle Vegan Grits with Tempeh Sausage &amp; Brussels Sprouts">Homestyle Vegan Grits with Tempeh Sausage &amp; Brussels Sprouts</a>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li aria-hidden="true" class="soliloquy-item soliloquy-item-7 soliloquy-image-slide soliloquy-post-32696 soliloquy-post soliloquy-type-post soliloquy-status-publish soliloquy-format-standard soliloquy-has-post-thumbnail soliloquy-category-breakfast soliloquy-category-featured soliloquy-category-gluten-free soliloquy-category-meals soliloquy-category-recipes soliloquy-category-tree-nut-free soliloquy-tag-breakfast soliloquy-tag-brunch soliloquy-tag-brussels-sprouts soliloquy-tag-cornmeal soliloquy-tag-grits soliloquy-tag-sausage soliloquy-tag-tempeh soliloquy-entry" draggable="false" style="list-style: none; float: left; position: relative; width: 383.333px; margin-right: 10px;">
                                    <a href="#" class="soliloquy-link" title="Homestyle Vegan Grits with Tempeh Sausage &amp; Brussels Sprouts">
                                        <img id="soliloquy-image-32696" class="soliloquy-image soliloquy-image-7" src="http://www.thefullhelping.com/wp-content/uploads/2016/12/Grain-green-bean-skillet-10-600x882.jpg" alt="Homestyle Vegan Grits with Tempeh Sausage &amp; Brussels Sprouts">
                                    </a>
                                    <div class="soliloquy-caption soliloquy-caption-bottom">
                                        <div class="soliloquy-caption-inside">
                                            <div class="soliloquy-fc-caption">
                                                <h2 class="soliloquy-fc-title">
                                                    <a class="soliloquy-fc-title-link" href="#" title="Homestyle Vegan Grits with Tempeh Sausage &amp; Brussels Sprouts">Homestyle Vegan Grits with Tempeh Sausage &amp; Brussels Sprouts</a>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="content-sidebar-wrap">
    <div id="aside" class="sidebar sidebar-primary widget-area" role="complementary" aria-label="Primary Sidebar" itemscope="" itemtype="http://schema.org/WPSideBar" id="genesis-sidebar-primary">
        <h2 class="genesis-sidebar-title screen-reader-text">Primary Sidebar</h2>
        <section id="user-profile-2" class="widget-1 widget-first widget-odd widget user-profile">
            <div class="widget-1 widget-first widget-odd widget-wrap">
                <h3 id="myInformationTitle" class="widgettitle widget-title"></h3>
                <a href="~/About#phillipa">
                    <p>
                        <span class="alignright">
                            <img id="myInformationPicture" alt="" src="" class="avatar avatar-125 photo" height="125" width="125">
                        </span>
                        <span id="myInformation"></span>
                    </p>
                </a>
            </div>
        </section>
    </div>
    <div class="content" id="main">
        <div class="widget-area home-bottom">
            <section class="widget-1 widget-first widget-odd widget featured-content featuredpost">
                <div>
                    <h3 class="widgettitle">Скорошни постове</h3>
                    <article id="test" class="entry">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                <a href="#test">Супичка, 29.01.2017</a>
                            </h2>
                        </header>
                        <p class="entry-meta">
                            <span class="heart-this-wrap">
                                <a href="#test" class="heart-this">
                                    <span>0</span>
                                </a>
                            </span>
                            <time class="entry-time">29 Януари 2017</time>
                            <span class="entry-categories">
                                <a href="#test" rel="category tag">Моркови</a>
                            </span>
                        </p>
                        <a href="#test" title="Weekend Reading, 1.29.17" class="grid-image alignleft">
                            <img width="600" height="882" src="http://www.thefullhelping.com/wp-content/uploads/2016/12/weekend_reading-600x882.jpg" class="entry-image attachment-post" alt="Weekend Reading | The Full Helping" itemprop="image">
                        </a>
                        <div class="entry-content">
                            <p>
                                Текст
                            </p>
                            <p>
                                <a class="more-link" href="#test">Продължи статията...</a>
                            </p>
                        </div>
                    </article>
                    <article id="test01" class="entry">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                <a href="#test01">Супичка, 29.01.2017</a>
                            </h2>
                        </header>
                        <p class="entry-meta">
                            <span class="heart-this-wrap">
                                <a href="#test01" class="heart-this">
                                    <span>0</span>
                                </a>
                            </span>
                            <time class="entry-time">29 Януари 2017</time>
                            <span class="entry-categories">
                                <a href="#test01" rel="category tag">Моркови</a>
                            </span>
                        </p>
                        <a href="#test01" title="Weekend Reading, 1.29.17" class="grid-image alignleft">
                            <img width="600" height="882" src="http://www.thefullhelping.com/wp-content/uploads/2017/01/Easy-Does-It-Sunday-Evening-Chili-600x882.jpg" class="entry-image attachment-post" alt="Weekend Reading | The Full Helping" itemprop="image">
                        </a>
                        <div class="entry-content">
                            <p>
                                Текст
                            </p>
                            <p>
                                <a class="more-link" href="#test01">Продължи статията...</a>
                            </p>
                        </div>
                    </article>
                    <article id="test02" class="entry">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                <a href="#test02">Супичка, 29.01.2017</a>
                            </h2>
                        </header>
                        <p class="entry-meta">
                            <span class="heart-this-wrap">
                                <a href="#test02" class="heart-this">
                                    <span>0</span>
                                </a>
                            </span>
                            <time class="entry-time">29 Януари 2017</time>
                            <span class="entry-categories">
                                <a href="#test02" rel="category tag">Моркови</a>
                            </span>
                        </p>
                        <a href="#test02" title="Weekend Reading, 1.29.17" class="grid-image alignleft">
                            <img width="600" height="882" src="http://www.thefullhelping.com/wp-content/uploads/2017/01/6V1A5889-600x882.jpg" class="entry-image attachment-post" alt="Weekend Reading | The Full Helping" itemprop="image">
                        </a>
                        <div class="entry-content">
                            <p>
                                Текст
                            </p>
                            <p>
                                <a class="more-link" href="#test02">Продължи статията...</a>
                            </p>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>

