<!-- Modal -->
<div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="test_modal_header" class="modal-title">Subject Remove</h4>
            </div>
            <div class="modal-body">
                <p id="test_modal_body">Are you soure you would like to remove the subject.</p>
            </div>
            <div class="modal-footer">
                <button id="agree" type="button" class="btn btn-danger ladda-button" data-style="expand-left"><span class="ladda-label">Agree</span></button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Disagree</button>
            </div>
        </div>

    </div>
</div>