@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <style type="text/css" rel="stylesheet">
        .content-sidebar-wrap {
            margin-top: 100px;
        }
    </style>
}

@section scripts {
    <script type="text/javascript">
        var urlData = {
            data: '@this.ViewBag.Data',
            status: '@this.ViewBag.Status'
        };
    </script>

    <script src="~/Scripts/Contact/ViewModel.js"></script>
    <script src="~/Scripts/Contact/Controller.js"></script>

    <script src="~/Scripts/script.js"></script>
}

<div class="content-sidebar-wrap">
    <div id="aside" class="sidebar sidebar-primary widget-area" role="complementary" aria-label="Primary Sidebar" itemscope="" itemtype="http://schema.org/WPSideBar" id="genesis-sidebar-primary">
        <h2 class="genesis-sidebar-title screen-reader-text">Primary Sidebar</h2>
        <section id="user-profile-2" class="widget-1 widget-first widget-odd widget user-profile">
            <div class="widget-1 widget-first widget-odd widget-wrap">
                <h3 id="myInformationTitle" class="widgettitle widget-title"></h3>
                <a href="~/About#phillipa">
                    <p>
                        <span class="alignright">
                            <img id="myInformationPicture" alt="" src="" class="avatar avatar-125 photo" height="125" width="125">
                        </span>
                        <span id="myInformation"></span>
                    </p>
                </a>
            </div>
        </section>
    </div>
    <main class="content" id="genesis-content">
        <article class="post-3676 page type-page status-publish entry" itemscope="" itemtype="http://schema.org/CreativeWork">
            <header class="entry-header">
                <h1 class="entry-title" itemprop="headline">Контакт</h1>
            </header><div class="entry-content" itemprop="text">
                <div role="form" class="wpcf7" id="wpcf7-f29930-p3676-o1" lang="en-US" dir="ltr">
                    <div class="screen-reader-response"></div>
                    <form action="/Contact/SendMail" method="post" class="wpcf7-form" novalidate="novalidate">
                        <p>
                            <span class="wpcf7-form-control-wrap your-name">
                                <input required="required" type="text" name="userName" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Въведете име...">
                            </span>
                        </p>
                        <p>
                            <span class="wpcf7-form-control-wrap your-email">
                                <input required="required" type="email" name="userEmail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Въведете e-mail...">
                            </span>
                        </p>
                        <p>
                            <span class="wpcf7-form-control-wrap your-message">
                                <textarea required="required" name="userMessage" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Изпратете съобщение..."></textarea>
                            </span>
                        </p>
                        <p>
                            <input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit">
                            <span class="ajax-loader"></span>
                        </p>
                    </form>
                </div>
            </div>
        </article>
    </main>
</div>

