@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <style type="text/css" rel="stylesheet">
        .content-sidebar-wrap {
            margin-top: 100px;
        }
    </style>
}

@section scripts {

}

<div class="content-sidebar-wrap">
    <div id="aside" class="sidebar sidebar-primary widget-area" role="complementary" aria-label="Primary Sidebar" itemscope="" itemtype="http://schema.org/WPSideBar" id="genesis-sidebar-primary">
        <h2 class="genesis-sidebar-title screen-reader-text">Primary Sidebar</h2>
        <section id="user-profile-2" class="widget-1 widget-first widget-odd widget user-profile">
            <div class="widget-1 widget-first widget-odd widget-wrap">
                <h3 class="widgettitle widget-title">Привет</h3>
                <p>
                    <span class="alignright">
                        <img alt="" src="http://0.gravatar.com/avatar/02003909bd1462353521b9a71f10dc29?s=125&amp;d=identicon&amp;r=g" srcset="http://0.gravatar.com/avatar/02003909bd1462353521b9a71f10dc29?s=250&amp;d=identicon&amp;r=g 2x" class="avatar avatar-125 photo" height="125" width="125">
                    </span>
                    Здравей, аз съм Гена...
                </p>
            </div>
        </section>
    </div>
    <main class="content" id="genesis-content">
        <article class="post-3676 page type-page status-publish entry" itemscope="" itemtype="http://schema.org/CreativeWork">
            <header class="entry-header">
                <h1 class="entry-title" itemprop="headline">Контакт</h1>
            </header><div class="entry-content" itemprop="text">
                <div role="form" class="wpcf7" id="wpcf7-f29930-p3676-o1" lang="en-US" dir="ltr">
                    <div class="screen-reader-response"></div>
                    <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
                        <p>
                            <span class="wpcf7-form-control-wrap your-name">
                                <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Въведете име...">
                            </span>
                        </p>
                        <p>
                            <span class="wpcf7-form-control-wrap your-email">
                                <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Въведете e-mail...">
                            </span>
                        </p>
                        <p>
                            <span class="wpcf7-form-control-wrap your-message">
                                <textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Изпратете съобщение..."></textarea>
                            </span>
                        </p>
                        <p>
                            <input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit">
                            <span class="ajax-loader"></span>
                        </p>
                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                    </form>
                </div>                
            </div>
        </article>
    </main>
</div>

