@{
    ViewBag.Title = "Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <style type="text/css">
        #main {
            margin-left: 50px;
        }

        .choose {
            margin-right: 7px;
            display: inline-block;
            height: 15px;
            width: 15px;
            border: 1px solid black;
        }

        #searchInput {
            margin-bottom: 20px;
        }

        #genesis-content img {
            height: 150px;
        }

        #genesis-content {

        }
    </style>
}

@section scripts {
    <script type="text/javascript">
        var urlPath = {
            query: '@this.ViewBag.Query'
        }
    </script>

    <script src="~/Scripts/Recipes/ViewModel.js"></script>
    <script src="~/Scripts/Recipes/Controller.js"></script>

    <script src="~/Scripts/script.js"></script>
}

<div class="content-sidebar-wrap">
    <main class="content" id="genesis-content">
        <section id="searchInput" class="widget-1 widget-first widget-odd widget widget_search">
            <div class="widget-1 widget-first widget-odd widget-wrap">
                <form class="search-form" itemprop="potentialAction" itemscope=""  method="get" action="#" role="search">
                    <label class="search-form-label screen-reader-text" for="fulltext"></label>
                    <input itemprop="query-input" type="search" name="query" id="fulltext" placeholder=""><input type="submit" value="Намери">
                </form>
            </div>
        </section>

        <div class="facetwp-template recipe-index">
            @*<nav class="navigation pagination" role="navigation">
                    <h2 class="screen-reader-text">Posts navigation</h2>
                    <div class="nav-links">
                        <span class="page-numbers current">1</span>
                        <a class="page-numbers" href="http://www.thefullhelping.com/recipes/page/2/">2</a>
                        <span class="page-numbers dots">…</span>
                        <a class="page-numbers" href="http://www.thefullhelping.com/recipes/page/9/">9</a>
                        <a class="next page-numbers" href="http://www.thefullhelping.com/recipes/page/2/">Next Page »</a>
                    </div>
                </nav>*@
        </div>
    </main>
</div>
<div class="sidebar sidebar-secondary widget-area" role="complementary" aria-label="Secondary Sidebar" itemscope="" itemtype="http://schema.org/WPSideBar" id="main">
    <section id="cookd-facet-2" class="widget-1 widget-first widget-odd widget facetwp">
        <div class="widget-1 widget-first widget-odd widget-wrap">
            <h3 class="widgettitle widget-title">Храни</h3>
            <div class="facetwp-facet facetwp-facet-meals facetwp-type-checkboxes" data-name="meals" data-type="checkboxes">
                <!--
                <div class="facetwp-checkbox" data-value="main-dishes"><span class="choose"></span>Моркови <span class="facetwp-counter">(2)</span></div>
                <div class="facetwp-checkbox" data-value="breakfast"><span class="choose"></span>Краставици <span class="facetwp-counter">(1)</span></div>
                    -->
            </div>
        </div>
    </section>
</div>

