@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <style type="text/css">
        #main {
            margin-left: 50px;
        }

        .choose {
            margin-right: 7px;
            display: inline-block;
            height: 15px;
            width: 15px;
            border: 1px solid black;
        }
    </style>
}

@section scripts {

}

<div class="content-sidebar-wrap">
    <main class="content" id="genesis-content">
        <div class="facetwp-template recipe-index">
            <article class="simple-grid one-third odd first post-33342 post type-post status-publish format-standard has-post-thumbnail category-gluten-free category-main-dishes category-recipes category-sides category-soy-free tag-black-beans tag-butternut-squash tag-entertaining tag-nachos tag-snacks tag-superbowl tag-vegan-queso entry">
                <header class="entry-header">
                    <a class="entry-image-link" href="#" aria-hidden="true"><img width="300" height="301" src="http://www.thefullhelping.com/wp-content/uploads/2017/02/Vegan-butternut-black-bean-nachos-1-300x301.jpg" class=" post-image entry-image" alt="Vegan Butternut Black Bean Nachos" itemprop="image" srcset="http://www.thefullhelping.com/wp-content/uploads/2017/02/Vegan-butternut-black-bean-nachos-1-300x301.jpg 300w, http://www.thefullhelping.com/wp-content/uploads/2017/02/Vegan-butternut-black-bean-nachos-1-150x150.jpg 150w, http://www.thefullhelping.com/wp-content/uploads/2017/02/Vegan-butternut-black-bean-nachos-1-180x180.jpg 180w, http://www.thefullhelping.com/wp-content/uploads/2017/02/Vegan-butternut-black-bean-nachos-1-600x601.jpg 600w" sizes="(max-width: 300px) 100vw, 300px"></a>
                    <h2 class="entry-title" itemprop="headline"><a href="#" rel="bookmark">Супичка</a></h2>
                </header><div class="entry-content"></div><footer class="entry-footer"></footer>
            </article><article class="simple-grid one-third post-33295 post type-post status-publish format-standard has-post-thumbnail category-food-and-healing category-gluten-free category-main-dishes category-recipes tag-chili tag-cookbook tag-review tag-winter entry">
                <header class="entry-header">
                    <a class="entry-image-link" href="#" aria-hidden="true"><img width="300" height="301" src="http://www.thefullhelping.com/wp-content/uploads/2017/01/Easy-Does-It-Sunday-Evening-Chili-300x301.jpg" class=" post-image entry-image" alt="Ashley Melillo’s Easy Does It Sunday Evening Chili" itemprop="image" srcset="http://www.thefullhelping.com/wp-content/uploads/2017/01/Easy-Does-It-Sunday-Evening-Chili-300x301.jpg 300w, http://www.thefullhelping.com/wp-content/uploads/2017/01/Easy-Does-It-Sunday-Evening-Chili-150x150.jpg 150w, http://www.thefullhelping.com/wp-content/uploads/2017/01/Easy-Does-It-Sunday-Evening-Chili-180x180.jpg 180w, http://www.thefullhelping.com/wp-content/uploads/2017/01/Easy-Does-It-Sunday-Evening-Chili-600x601.jpg 600w" sizes="(max-width: 300px) 100vw, 300px"></a>
                    <h2 class="entry-title" itemprop="headline"><a href="#" rel="bookmark">Супичка</a></h2>
                </header><div class="entry-content"></div><footer class="entry-footer"></footer>
            </article><article class="simple-grid one-third odd post-33255 post type-post status-publish format-standard has-post-thumbnail category-gluten-free category-recipes category-soups category-soy-free category-tree-nut-free tag-batch-cooking tag-soup tag-split-peas tag-tempeh tag-winter entry">
                <header class="entry-header">
                    <a class="entry-image-link" href="#" aria-hidden="true"><img width="300" height="301" src="http://www.thefullhelping.com/wp-content/uploads/2017/01/6V1A5889-300x301.jpg" class=" post-image entry-image" alt="Vegan Split Pea Soup with Smoky Tempeh Croutons" itemprop="image" srcset="http://www.thefullhelping.com/wp-content/uploads/2017/01/6V1A5889-300x301.jpg 300w, http://www.thefullhelping.com/wp-content/uploads/2017/01/6V1A5889-150x150.jpg 150w, http://www.thefullhelping.com/wp-content/uploads/2017/01/6V1A5889-180x180.jpg 180w, http://www.thefullhelping.com/wp-content/uploads/2017/01/6V1A5889-600x601.jpg 600w" sizes="(max-width: 300px) 100vw, 300px"></a>
                    <h2 class="entry-title" itemprop="headline"><a href="#" rel="bookmark">Супичка</a></h2>
                </header><div class="entry-content"></div><footer class="entry-footer"></footer>
            </article>
            @*<nav class="navigation pagination" role="navigation">
                    <h2 class="screen-reader-text">Posts navigation</h2>
                    <div class="nav-links">
                        <span class="page-numbers current">1</span>
                        <a class="page-numbers" href="http://www.thefullhelping.com/recipes/page/2/">2</a>
                        <span class="page-numbers dots">…</span>
                        <a class="page-numbers" href="http://www.thefullhelping.com/recipes/page/9/">9</a>
                        <a class="next page-numbers" href="http://www.thefullhelping.com/recipes/page/2/">Next Page »</a>
                    </div>
                </nav>*@
        </div>
    </main>
</div>
<div class="sidebar sidebar-secondary widget-area" role="complementary" aria-label="Secondary Sidebar" itemscope="" itemtype="http://schema.org/WPSideBar" id="main">
    <section id="cookd-facet-2" class="widget-1 widget-first widget-odd widget facetwp">
        <div class="widget-1 widget-first widget-odd widget-wrap">
            <h3 class="widgettitle widget-title">Храни</h3>
            <div class="facetwp-facet facetwp-facet-meals facetwp-type-checkboxes" data-name="meals" data-type="checkboxes">
                <div class="facetwp-checkbox" data-value="main-dishes"><span class="choose"></span>Моркови <span class="facetwp-counter">(2)</span></div>
                <div class="facetwp-checkbox" data-value="breakfast"><span class="choose"></span>Краставици <span class="facetwp-counter">(1)</span></div>
            </div>
        </div>
    </section>
</div>

